# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL
4. julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Keras.
3. Pandas.

Data Science Tools

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [6]:
x = (200/60)
print(x,"Hours")

3.3333333333333335 Hours

## Author
h